<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a href="/urls" class="navbar-brand">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/urls" >My URLs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/urls/new" >Create New URL</a>
          </li>
        </ul>
            <% if(username) { %>
              <form class="form-inline my-2 my-md-0" action="/logout" method="post">
                <p style="margin-bottom: 0; padding-right: 1rem;">Logged in as: <%= username %></p>
                <button class="btn btn-outline-dark" type="submit">Logout</button>
              </form>
            <% } else { %>
              <form class="form-inline my-2 my-md-0" action="/login" method="post">
                <input class="form-control" type="text" name="username" placeholder="Username" style="width: 300px; margin-right: 1rem;">
                <button class="btn btn-outline-dark" type="submit">Login</button>
              </form>
            <% } %>    
    </div>
  </nav>
</header>