<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>404 - Not Found</title>
</head>
<body>
  <%- include("partials/_header_errors") %>
  <main style="margin: 1rem;">
    <h1 class="h3 mb-3">404 - Page Not Found</h1>
    <p>Sorry, this page doesn't exist.</p>
  </main>
</body>
</html>