<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Login | TinyApp</title>
</head>
<body>
  <%- include("partials/_header"); %>
  <main style="margin: 1rem;">
    <h1 class="h3 mb-3"><strong>Login</strong></h1>
    <form class="mb-3" action="/users/login" method="post">
      <ul class="list-group mb-2" style="list-style-type: none;">
        <% if (errors) { %>
          <% for (const error of errors) { %>
          <li class="list=group-item text-danger">&#x26A0; <%= error.msg %></li>
          <% } %>
        <% } %>
      </ul>
      <div class="form-group mb-3" style="width: 300px;">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Enter email" required autofocus>
      </div>
      <div class="form-group mb-3"  style="width: 300px;">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Create a TinyApp Account</a></p>
  <%- include("partials/_footer"); %>